@import "style.less"

// BODY TEXT
// ---------------------------------------------------------

body > li .item {
    font-size: 3em;
}

// Paragraphs
// ----------
p {
    margin: 0 0 @T3gloabalMargin / 2;

    small[class*=dashed], .small {
        font-size: @T3smallerFontSize;
		color: @grayLight;
      }

  &#footer .mini-tag { font-size: @T3smallerFontSize * .25; }
}

.lead:hover {
  margin-bottom: @T3globalMargin;
  font-size: 20px;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
  -moz-box-shadow: none;
  box-shadow: none;
  
  &.test {
	.testWrapper & {
	}
  }
}

@test: 50;

#foo {
    > [class="test"] {
        
    }
}